body {
background-color: rgb(255, 234, 0);
width: 500px;
margin: 0 auto;
text-align: justify;
}


h2 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    h4 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        h5 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            h6 {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                }

                h7 {
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    }

                    h8 {
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        }

                        img{
                            width: 100%;
                            
                        }

                        .news{
                            width: 350px;
                            height: 400px;
                            margin: bottom 10px;
                            overflow: scroll;
                            padding: 10px;
                            border: 1px solid black
                            
                        }
